html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80vw;
    height: 100%;
}

.header {
    width: 100%;
    align-items: center;
}


.meme-header-container img {
    width: 4vw;
    height: 4vh;
}

.meme {
    display: flex;
    flex-direction: column;
}

.meme-header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.meme-image-container {
    height: 100%;
}

.meme-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meme-image-container img {
    width: 0px;
    height: 0px;
}

.meme-header-container:hover .meme-image-container img{
    width: 100px;
    height: 100px;
}