html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80vw;
    height: 100%;
}

.header {
    width: 100%;
    align-items: center;
}

.meme {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

.plus {
    width: 25px;
    height: 25px;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.meme-image-container {
    text-align: center;
}

.meme-image-container img {
    width: 0px;
    height: 0px;
}

.meme:hover > .asd > .meme-image-container > img {
    transition: 0.3s;
    width: 60vw;
    height: 60vh;
}

.meme:hover > img {
    transition: 0.5s linear;
    rotate: 45deg;
}

input:checked ~ .asd > .meme-image-container > img {
    transition: 0.5s;
    width: 60vw;
    height: 60vh;
}