html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80vw;
    height: 100%;
}

.header {
    width: 100%;
    align-items: center;
}

.memes-image img {
    width: 30vw;
    height: 40vh;
}

.meme-header-container img {
    width: 4vw;
    height: 4vh;
}

.meme {
    display: flex;
}

.meme-header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}